.award {
    display: block;
	margin-top: 10px;
}

.award-user {
	display: inline-flex;
}

.award-username {
	margin-top: 10px;
    margin-left: 10px;
}

.workarea-content {
	height: auto !important;
}