.live_signature-signature-bg,
.live_signature-login_form-bg {
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
}
.live_signature-login_form-bg .card {
	background: rgba(255, 255, 255, 0.9);
	opacity:1 !important;
}